body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-weight: 500;
	background-color: #eee;
}

#splash {
	margin: 0;
}

#opening,
#splash {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: opacity 500ms ease;
	padding: 20px;
	box-sizing: border-box;
	z-index: -1;
}

#opening.hidden,
#splash.hidden {
	opacity: 0;
}

#opening-label {
	color: #757575;
	font-size: 36px;
	transition: transform 500ms ease;
	padding-right: 26px;
}

#opening-label:after {
	overflow: hidden;
	content: '\2026';
	position: absolute;
	width: 0;
	animation: ellipsis steps(4,end) 1.15s infinite;
}

@keyframes ellipsis {
	to {
		width: 1em;
	}
}

#opening.hidden #opening-label {
	transform: translateY(-16px);
}

#opening-bar {
	width: 300px;
	height: 2px;
	background-color: #00bebe;
	transform-origin: center;
	transition: transform 500ms ease;
	margin-top: 7px;
	margin-bottom: 10px;
}

#opening.hidden #opening-bar {
	transform: scaleX(0);
}

#opening-url {
	color: #212121;
	font-size: 24px;
	transition: transform 500ms ease;
}

#opening.hidden #opening-url {
	transform: translateY(16px);
}

#update {
	display: none;
	position: relative;
	padding: 0 34px;
	height: 45px;
	background-color: #564573;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 14px;
}

#update-now {
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px 22px;
	margin-left: 12px;
}

#update-now:hover,
#update-later:hover {
	color: #564573;
	background-color: white;
}

#update-later {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 45px;
	border: none;
	padding: 0 12px;
}

#update-now,
#update-later {
	background-color: transparent;
	color: white;
	cursor: pointer;
}

webview {
	display: flex;
	flex: 1;
	opacity: 0;
	transition: opacity 500ms ease;
}
